<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <nav>
        <a href="/" ><button>-Home and Characters</button></a>
        <a href="/quotes" ><button>-Quotes</button></a>
        <a href="/mars" ><button>-Mars</button></a>
        <a href="/users" ><button>-Users</button></a>
        <a href="/posts" ><button>-Posts</button></a>
    </nav>

    {{{ body }}}

</body>
</html>