.title {
    color: red;
}

.cont {
    border: 1px solid gray;
    display: flex;
}

.imgg {
    height: 40px;
}

.error {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
  }